<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Add a New Book</h1>
    <form th:action="@{/save}" th:object="${book}" method="post">
        <label for="author">Author:</label>
        <input type="text" id="author" th:field="*{author}" />
        
        <label for="title">Title:</label>
        <input type="text" id="title" th:field="*{title}" />
        
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" th:field="*{isbn}" />
        
        <label for="price">Price:</label>
        <input type="number" step="0.01" id="price" th:field="*{price}" />
        
        <label for="vuosi">Year:</label>
        <input type="number" id="vuosi" th:field="*{vuosi}" />
        
        <button type="submit">Save</button>
    </form>
    <a href="/booklist">Go back</a>
</body>
</html>
